html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


.container-background{
 height: auto;
  background: linear-gradient(141deg, #d1fae5 0%, #a7f3d0 51%, #6EE7b7 75%, #34d399 100%);

}


.MuiAppBar-colorDefault {
    color: black !important;
    background-color: #9affdd !important;
    font-weight: 400;
}

.animated-button {
padding: 5px 10px;
background-image:linear-gradient(100deg, red , orange) ;
border-radius: 10px;
border: 1px solid red;
opacity: 1;
font-size: 20px;
font-weight: 400;
text-transform: uppercase;
color: black;
cursor: pointer;
animation: spinner4 5s linear infinite;

}
.animated-button:hover{
  transform: scale(1.1);
  color:black
}
@keyframes spinner4 {
/* to {
transform: scale(1.5);
opacity: .8;
} */

0% {background-image:linear-gradient(100deg, red , orange)  }
50% { background-image:linear-gradient(150deg, yellow , red) ;}
100%{background-image:linear-gradient(200deg, red , orange) ;}
}

.text-gradient {
  background: linear-gradient(to right, #ff8a00 0%, #da1b60 100%);
   
  -webkit-background-clip: text;
font-size: 2rem;
font-weight: 600;
  -webkit-text-fill-color: transparent;
}
.text-gradient-style-two {
  background: linear-gradient(to right, #1600df 0%, #da1b60 100%);
   
  -webkit-background-clip: text;
font-size: 2rem;
font-weight: 600;
  -webkit-text-fill-color: transparent;

}


/*  */


.flip-card {
  background-color: transparent;
  min-width: 300px;
  min-height: 450px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: left;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: rgb(255, 255, 255);
  color: black;
}

.flip-card-back {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
}