html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


.container-background{
 height: auto;
  background: linear-gradient(141deg, #d1fae5 0%, #a7f3d0 51%, #6EE7b7 75%, #34d399 100%);

}
.MuiAppBar-colorDefault {
    color: black !important;
    background-color: #9affdd !important;
    font-weight: 400;
}

.animated-button {
padding: 5px 10px;
background-image:linear-gradient(100deg, red , orange) ;
border-radius: 10px;
border: 1px solid red;
opacity: 1;
font-size: 20px;
font-weight: 400;
text-transform: uppercase;
color: white;
animation: spinner4 1000ms linear infinite;
}
@keyframes spinner4 {
to {
transform: scale(1.5);
opacity: .5;
}
}

.text-gradient {
  background: linear-gradient(to right, #ff8a00 0%, #da1b60 100%);
   
  -webkit-background-clip: text;
font-size: 2rem;
font-weight: 600;
  -webkit-text-fill-color: transparent;
}
.text-gradient-style-two {
  background: linear-gradient(to right, #1600df 0%, #da1b60 100%);
   
  -webkit-background-clip: text;
font-size: 2rem;
font-weight: 600;
  -webkit-text-fill-color: transparent;
}