html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


.container-background{
 height: auto;
  background: linear-gradient(141deg, #d1fae5 0%, #a7f3d0 51%, #6EE7b7 75%, #34d399 100%);

}
.MuiAppBar-colorDefault {
    color: black !important;
    background-color: #9affdd !important;
    font-weight: 400;
}