
.body{
     background-image: url("/sagar.png"), linear-gradient(117deg, black, #34d399);
     min-height: 50vh;
    background-repeat: no-repeat;
    background-attachment: inherit  !important;
    background-position: right;
    background-size: contain;
    background-blend-mode: hard-light;
    background-clip: content-box;
    color: white;
}
.text{
    background-color:#0923196b;
    width:fit-content ;
    padding: 4%
}
